[submodule "SimpylFold"]
	path = SimpylFold
	url = ./bundle/SimpylFold/
[submodule "command-t"]
	path = command-t
	url = ./bundle/command-t/
[submodule "javascript_fold"]
	path = javascript_fold
	url = ./bundle/javascript_fold/
[submodule "jedi-vim"]
	path = jedi-vim
	url = ./bundle/jedi-vim/
[submodule "syntastic"]
	path = syntastic
	url = ./bundle/syntastic/
[submodule "vim-space"]
	path = vim-space
	url = ./bundle/vim-space/
[submodule "bundle/dracula-theme"]
	path = bundle/dracula-theme
	url = git@github.com:dracula/vim.git
[submodule "bundle/DeleteTrailingWhitespace"]
	path = bundle/DeleteTrailingWhitespace
	url = https://github.com/vim-scripts/DeleteTrailingWhitespace.git
[submodule "bundle/SimpylFold"]
	path = bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "bundle/fzf.vim"]
	path = bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
